*{
  padding:0;
  margin:0;
  text-decoration:none;
  list-style:none;
  box-sizing:border-box;
  font-family:arial;
}
body{
  font-family:arial;
}
/*===================nav start========================================================================================*/
.main_nav{
  background: #CB356B;
  background: -webkit-linear-gradient(to right, #BD3F32, #CB356B);
  background: linear-gradient(to right, #BD3F32, #CB356B);
  overflow: hidden;
  position:fixed;
  top: 0;
  width: 100%;
}
.logo{
  font-weight:bold;
  margin-left:60px;
  font-size:35px;
  padding:0px;
  margin-top:5px;
}
a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size:15px;
  font-weight:bold;
}
#active {
  margin-left:460px;
}
.main-login{
  margin-top:11px;
  width:100px;
  padding:10px;
  color:white;
}
.main_nav .icon {
display: none;
}
.nav-drp {
float: left;
overflow: hidden;
}
.nav-drp .nav-btn {
font-size: 15px;
min-width: 140px;
border: none;
outline: none;
color: white;
padding: 10px 16px;
background-color: inherit;
font-family: inherit;
margin-top:10px;
font-weight:bold;
}
.nav-content {
display: none;
margin-top:1px;
position:fixed;
background-color: #f9f9f9;
min-width: 222px;
box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
z-index: 1;
}
.nav-content a {
float: none;
color:firebrick;
padding: 12px 16px;
text-decoration: none;
display: block;
text-align: left;
}
.main_nav a:hover, .nav-drp:hover .nav-btn {
background-color: #555;
color: white;
}
.nav-content a:hover {
background-color: #ddd;
color: black;
}
.nav-drp:hover .nav-content {
display: block;
}
@media screen and (max-width: 600px) {
.main_nav a:not(:first-child), .nav-drp .nav-btn {
  display: none;
}
.main_nava.icon {
  float: right;
  display: block;
}
}
@media screen and (max-width: 600px) {
.main_nav.responsive {position: relative;}
.main_nav.responsive a.icon {
  position: absolute;
  right: 0;
  top: 0;
}
.main_nav.responsive a {
  float: none;
  display: block;
  text-align: left;
}
.main_nav.responsive .nav-drp {float: none;}
.main_nav.responsive .nav-content {position: relative;}
.main_nav.responsive .nav-drp .nav-btn {
  display: block;
  width: 100%;
  text-align: left;
}
}
/*==========================================sale property owner=======================================================*/
.container{
  display:block;
  width:500px;
  overflow: hidden;
  margin-top:58px;
}
.title{
   font-size:30px;
   color:white;
   font-weight:bold;
   position:fixed;
   border:1px solid blue;
   width:52%;
   margin-left:200px;
   text-align:center;
   background: #159957;
   background: -webkit-linear-gradient(to right, #155799, #159957);
   background: linear-gradient(to right, #155799, #159957);
   }
/*.container .title::before{
  content:'';
  position:absolute;
  left:0px;
  bottom:0;
  height:1px;
  width:800px;
  background:lightgray;
}*/
#ownsale{
  width:700px;
  height:200vh;
  margin-top:50px;
  outline:none;
  border:none;
  margin-left:200px;
}
.container form .user-details{
  display:flex;
  flex-wrap:wrap;
  justify-content:space-between;
  margin-top:50px;
}
form .user-details .input-box{
  margin:10px 5px 12px 5px;
  margin-bottom:15px;
  width:calc(100% /2 - 50px);
}
form .user-details .input-box1{
  margin:10px 5px 12px 5px;
  margin-bottom:15px;
  width:calc(100% /3 - 50px);
}
.input{
  padding:10px;
  width:100%;
  outline:none;
  border-radius:3px;
  font-size:14px;
  border:1px solid gray;
  border-bottom-width:2px;
}
.area{
  padding:7px;
  width:80px;
  outline:none;
  border-radius:3px;
  font-size:14px;
  border:1px solid gray;
  border-bottom-width:2px;
}
.ft{
  padding:9px;
  width:80px;
  outline:none;
  border-radius:3px;
  font-size:14px;
  border:1px solid gray;
  border-bottom-width:2px;
}
.carpet{
  padding:9px;
  width:130px;
  outline:none;
  border-radius:3px;
  font-size:14px;
  border:1px solid gray;
  border-bottom-width:2px;
}
.age{
  padding:10px;
  width:100%;
  outline:none;
  border-radius:3px;
  font-size:14px;
  border:1px solid gray;
  border-bottom-width:2px;
}
.status{
  padding:10px;
  width:100%;
  outline:none;
  border-radius:3px;
  font-size:14px;
  border:1px solid gray;
  border-bottom-width:2px;
}
.landmark {
  padding:10px;
  width:100%;
  outline:none;
  border-radius:3px;
  font-size:14px;
  border:1px solid gray;
  border-bottom-width:2px;
}
.location{
  padding:10px;
  width:100%;
  outline:none;
  border-radius:3px;
  font-size:14px;
  border:1px solid gray;
  border-bottom-width:2px;
}
.sprice{
  padding:10px;
  width:100%;
  outline:none;
  border-radius:3px;
  font-size:14px;
  border:1px solid gray;
  border-bottom-width:2px;
}
.details5{
   color:crimson;
   font-weight:bold;
}
.from{
  padding:10px;
  width:100%;
  outline:none;
  border-radius:3px;
  font-size:14px;
  border:1px solid gray;
  border-bottom-width:2px;
}
.park{
  padding:10px;
  width:100%;
  outline:none;
  border-radius:3px;
  font-size:14px;
  border:1px solid gray;
  border-bottom-width:2px;
}
.furnish{
  padding:10px;
  width:100%;
  outline:none;
  border-radius:3px;
  font-size:14px;
  border:1px solid gray;
  border-bottom-width:2px;
}
.ameni{
  padding:10px;
  width:100%;
  outline:none;
  border-radius:3px;
  font-size:14px;
  border:1px solid gray;
  border-bottom-width:2px;
  text-transform:uppercase;
}
.user-details .details{
  display:block;
  font-weight:bold;
  color:darkslategray;
  margin-bottom:5px;
}
.user-details .input-box1 .details1{
  display:block;
  font-weight:bold;
  color:darkslategray;
  margin-bottom:5px;
}
.user-details .input-box1 input{
  height:40px;
  width:100%;
  outline:none;
  border-radius:3px;
  padding-left:15px;
  font-size:14px;
  border:1px solid gray;
  border-bottom-width:2px;
  transition:all 0.3s ease;
}
.user-details  .input:focus,
.user-details  .input:valid{
  border-color:gray;
}
textarea{
  margin-left:8px;
  width:100%;
  height:150px;
  padding:15px 20px;
  resize:none;
  display:block;
}
textarea:focus{
  border:1px solid gray;
  outline:0;
  border-bottom-width:2px;
}
button.post{
  padding:10px;
  margin-top:20px;
  width:200px;
  color:white;
  background:crimson;
  margin-left:100px;
}
.post:hover {
opacity:1;
background:green;
}
button.back {
  padding:10px;
  margin-top:20px;
  width:200px;
  color:white;
  background:red;
  margin-left:100px;
}
.back, .post {
float: left;
width: 100px;
}
.clearfix::after {
content: "";
clear: both;
display: block;
}
/*===============================photo================================================================================*/
.photos-list ul,
.videos-list ul {
margin: 0px;
padding: 0px;
}

.photos-list ul li,
.videos-list ul li {
list-style: none;
float: left;
width: 20%;
margin: 5px;
position: relative;
}

.photos-list ul li img,
.videos-list ul li img {
width: 100%;
border-radius: 2px;
height: 130px;

}

.photos-list ul li span,
.videos-list ul li span {
position: absolute;
bottom: 0;
right: 0;
background: rgba(0, 0, 0, .5);
padding: 5px 10px;
cursor: pointer;
}
.photos-list ul li span svg,
.videos-list ul li span svg {
color: #fff;
}


#myInput{
  padding-left: 100px;
}






/*===============================rent form============================================================================*/
/*autocomplete search box in hoome page loacation*/

/*the container must be positioned relative:*/
.autocomplete {
  position: relative;
  display: inline-block;
}

input {
  border: 1px solid transparent;
  background-color: #f1f1f1;
  padding: 10px;
  font-size: 16px;
}

input[type=text] {
  background-color: #f1f1f1;
  width: 100%;
}

input[type=submit] {
  background-color: DodgerBlue;
  color: #fff;
  cursor: pointer;
}

.autocomplete-items {
  position: absolute;
  border: 1px solid #d4d4d4;
  border-bottom: none;
  border-top: none;
  z-index: 99;
  /*position the autocomplete items to be the same width as the container:*/
  top: 100%;
  left: 0;
  right: 0;
}

.autocomplete-items div {
  padding: 10px;
  cursor: pointer;
  background-color: #fff; 
  border-bottom: 1px solid #d4d4d4; 
}

/*when hovering an item:*/
.autocomplete-items div:hover {
  background-color: #e9e9e9; 
}

/*when navigating through the items using the arrow keys:*/
.autocomplete-active {
  background-color: DodgerBlue !important; 
  color: #ffffff; 
}




